<a href="https://colab.research.google.com/github/phyllsmoyo/Coursera_Capstone/blob/main/Capstone_Project_Segmenting_and_Clustering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 Notebook to explore and cluster the neighborhoods in Toronto.

### **1. Web Scrapping**

Import the required Libraries.

In [17]:
import pandas as pd #data analysis and manipulation tool
import numpy as np #numerical computation tool
import matplotlib.pyplot as plt #python plotting library

Now we assign the website link through which we are going to scrape the data and assign it to variable named url.

In [18]:
url = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"

Pandas ```read_html``` is pretty simple and works well on many Wikipedia pages since the tables are not complicated.

In [19]:
table1 = pd.read_html(url, match='Borough') #Use the match parameter in order to return the specigic table
print(f'Total tables in the url: {len(table1)}')

Total tables in the url: 1

In [20]:
df = table1[0]
df.head()

  Postal Code           Borough              Neighbourhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

1. The dataframe should consist of three columns: 
    - PostalCode, 
    - Borough, and 
    - Neighborhood

2. Only process the cells that have an assigned borough. Ignore cells with a borough that is Not assigned.
    - More than one neighborhood can exist in one postal code area. 
        - For example, in the table on the Wikipedia page, you will notice that M5A is listed twice and has two neighborhoods: Harbourfront and Regent Park. 
        - These two rows will be combined into one row with the neighborhoods separated with a comma.
    - If a cell has a borough but a Not assigned  neighborhood, then the neighborhood will be the same as the borough.

3. Clean the Notebook and add Markdown cells to explain the work and any assumptions made.

In [21]:
#Creat a filter for to remove the Boroughs not assigned.
filter = df['Borough'] == 'Not assigned'

#Filter out the "Not assigned" Boroughs 
df_BA = df[~filter]
df_BA.head()

  Postal Code           Borough                                Neighbourhood
2         M3A        North York                                    Parkwoods
3         M4A        North York                             Victoria Village
4         M5A  Downtown Toronto                    Regent Park, Harbourfront
5         M6A        North York             Lawrence Manor, Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In the last cell of the notebook, use the .shape method to print the number of rows in the dataframe.

In [22]:
print(f'The dataframe has {df_BA.shape[0]} rows')

The dataframe has 103 rows

### **2.  Get the geographical coordinates of the neighborhoods**

Install the module ```wget``` to download the files from a url.

In [23]:
!pip install wget

import wget

Collecting wget
  Downloading https://files.pythonhosted.org/packages/47/6a/62e288da7bcda82b935ff0c6cfe542970f04e29c756b0e147251b2fb251f/wget-3.2.zip
Building wheels for collected packages: wget
  Building wheel for wget (setup.py) ... done
  Created wheel for wget: filename=wget-3.2-cp36-none-any.whl size=9682 sha256=7343901f11e89ac1e7e73b2668c5303708b3262d81825612b31958c548075fea
  Stored in directory: /root/.cache/pip/wheels/40/15/30/7d8f7cea2902b4db79e3fea550d7d7b85ecb27ef992b618f3f
Successfully built wget
Installing collected packages: wget
Successfully installed wget-3.2

Download the file using the given link

In [24]:
geo_url = r'https://cocl.us/Geospatial_data'
filename = wget.download(geo_url)

In [25]:
df_geo = pd.read_csv(filename)
df_geo.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [26]:
df_BA.head()

  Postal Code           Borough                                Neighbourhood
2         M3A        North York                                    Parkwoods
3         M4A        North York                             Victoria Village
4         M5A  Downtown Toronto                    Regent Park, Harbourfront
5         M6A        North York             Lawrence Manor, Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [30]:
df_final = pd.merge(df_BA, df_geo, on=["Postal Code", "Postal Code"])
df_final.head(11)

   Postal Code           Borough  ...   Latitude  Longitude
0          M3A        North York  ...  43.753259 -79.329656
1          M4A        North York  ...  43.725882 -79.315572
2          M5A  Downtown Toronto  ...  43.654260 -79.360636
3          M6A        North York  ...  43.718518 -79.464763
4          M7A  Downtown Toronto  ...  43.662301 -79.389494
5          M9A         Etobicoke  ...  43.667856 -79.532242
6          M1B       Scarborough  ...  43.806686 -79.194353
7          M3B        North York  ...  43.745906 -79.352188
8          M4B         East York  ...  43.706397 -79.309937
9          M5B  Downtown Toronto  ...  43.657162 -79.378937
10         M6B        North York  ...  43.709577 -79.445073

[11 rows x 5 columns]

In [35]:
df_final.shape

(103, 5)